@import "tailwindcss";
@import "./fonts.css";


@theme {
    /* Colors */
    --color-ghost: #f2f5ff;
    --color-black: #101010;
    --color-maize: #03256C;
    --color-mauve: #0d1321;
    --color-salmon: #f49097;
    --color-turquoise: #55d6c2;
    --color-corn: #f5e960;

    /* Fonts */
    --font-default: 'Nunito', sans-serif;
    --font-title: 'Syne', sans-serif;

    /* Sizes */
    --text-xxs: 0.625rem; /* 10px */

    /* Shadows */
    --shadow-lg: 0 16px 16px rgba(0, 0, 0, 0.8);
    --shadow-md :0 8px 8px rgba(0,0,0,0.8);

}

@layer base {
    body {
        @apply relative;
        @apply bg-mauve;
        @apply text-turquoise;
        @apply font-default;
    }

    div, span, p, h1, h2, h3, h4, h5, h6 {
        @apply leading-tight
    }

    button,
    [role='button'] {
       @apply cursor-pointer;
    }

    button:disabled,
    [role='button']:disabled {
        @apply cursor-default;
    }

    a {
        @apply text-blue-400
    }
}

