:root {
  /*  FONT SIZES  */
  --text-xxxl: 2.75rem; /* 44px */
  --text-xxl: 1.75rem; /* 28px */
  --text-xl: 1.5rem; /* 24px */
  --text-llg: 1.25rem; /* 20px */
  --text-lg: 1.125rem; /* 18px */
  --text-base: 1rem; /* 16px */
  --text-sm: 0.875rem; /* 14px */
  --text-xs: 0.75rem; /* 12px */
  --text-xxs: 0.625rem; /* 10px */
  --text-xxxs: 0.5rem; /* 8px */

  /*  SPACING  */
  --gap-xxs: 0.125rem; /* 2px */
  --gap-xs: 0.25rem; /* 4px */
  --gap-1: 0.5rem; /* 8px */
  --gap-2: 0.9rem; /* 14px */
  --gap-3: 1.25rem; /* 20px */
  --gap-4: 1.75rem; /* 28px */
  --gap-5: 2rem; /* 28px */
  --gap-6: 2.5rem; /* 40px */
  --gap-7: 3rem; /* 48px */

  /* RADIUS */
  --radius-chat-message: 12px;
  --radius-dropdown: 12px;
  --radius-circle: 9999px;
  --radius-almost-angle: 2px;
  --radius-card: 12px;
  --radius-select: 4px;

  /* Layout */
  --page-header-height: 130px;
  --page-small-header-height: 80px;
}
